<div
  class="w-auto max-w-sm animate-rotate-border cursor-pointer rounded-full bg-conic/[from_var(--border-angle)] from-transparent from-80% via-cyan-500 via-90% to-transparent to-100% p-[3px] backdrop-blur-5xl transition-all duration-500 ease-out transform-3d"
>
  <button
    class="rounded-full bg-blue-600/90 px-10 py-2 text-center text-xl text-white font-semibold transition-all ease-in-out hover:bg-blue-700/90 hover:cursor-pointer hover:scale-102"
    onclick="window.open('https://calendly.com/pfistercontacto/30min', '_blank')"
    ><slot /></button
  >
</div>
