---
import BenCard from "./micro/BenCard.astro";
---
<div class="py-12 px-[188px]">
    <div class="flex flex-col items-center justify-center text-center p-8">
      <h2 class="font-bold text-3xl text-[#070707]">Título llamativo para beneficios</h2>
      <p class="font-medium text-lg text-black/70 mt-1">Breve caption donde cacemos al lector con ganas de leer más sobre los beneficios</p>
    </div>
    <div class="flex flex-wrap justify-center gap-5 p-8">
      <BenCard
        icon="https://www.svgrepo.com/show/528840/align-vertical-center.svg"
        title="Crecimiento instantaneo"
        description="Tecnología moderna y rápida para escalar tu marca desde cero."
      />
      <BenCard
        icon="https://www.svgrepo.com/show/528840/align-vertical-center.svg"
        title="Despegá tu proyecto"
        description="Tecnología moderna y rápida para escalar tu marca desde cero."
      />
      <BenCard 
        icon="https://www.svgrepo.com/show/528840/align-vertical-center.svg"
        title="Despegá tu proyecto"
        description="Tecnología moderna y rápida para escalar tu marca desde cero."
      />
      <BenCard
        icon="https://www.svgrepo.com/show/528840/align-vertical-center.svg"
        title="Crecimiento instantaneo"
        description="Tecnología moderna y rápida para escalar tu marca desde cero."
      />
      <BenCard
        icon="https://www.svgrepo.com/show/528840/align-vertical-center.svg"
        title="Despegá tu proyecto"
        description="Tecnología moderna y rápida para escalar tu marca desde cero."
      />
      <BenCard 
        icon="https://www.svgrepo.com/show/528840/align-vertical-center.svg"
        title="Despegá tu proyecto"
        description="Tecnología moderna y rápida para escalar tu marca desde cero."
      />
    </div>
</div>
