---
import Separator from "./atoms/Separator.astro";
import BenCard from "./micro/BenCard.astro";
---




<div class="pb-8 sm:pb-12 px-3 sm:px-4 md:px-8 lg:px-[188px]">
    <div class="flex flex-col items-center justify-center text-center p-3 sm:p-4 md:p-6 lg:p-8 gap-2 sm:gap-3 md:gap-4 lg:gap-5">
      <h2 class="font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-3xl text-[#070707] w-full max-w-4xl uppercase leading-tight px-1 sm:px-2 md:px-0">Lo que cambia cuando aplicas este sistema <span class="text-black/50 font-bold lowercase">(aunque tengas pocos seguidores)</span></h2>
      <p class="font-medium text-sm sm:text-base md:text-lg lg:text-lg text-black mt-1 mb-2 sm:mb-3 px-1 sm:px-2 md:px-0 leading-relaxed">Estos son los resultados que la mayoría de coaches y asesores ven en sus primeros 30 días usando mi método.</p>
    </div>
    <div class="flex flex-col sm:flex-row flex-wrap justify-center gap-2 sm:gap-3 md:gap-4 lg:gap-5 px-1 sm:px-2 md:px-0">
      <BenCard
        icon="/benefitsGallery/mockup1.png"
        title=""
        description=""
        href="https://www.hotelmojomar.com.ar/"
      />
      <BenCard
        icon="/benefitsGallery/mockup2.png"
        title=""
        description=""
        href="https://alkimia-travel.vercel.app/"
      />
    </div>
</div>

<Separator/>
