
<div class="bg-blue-500/50 rounded-full blur-[100px] w-110 h-110 absolute -z-1 top-250 right-[35%] "></div>

<div class="flex flex-col justify-center items-center mt-5 w-screen h-200">
  <h2 class="font-bold text-4xl text-center text-blue-600 ">AGENDA TU LLAMADA ONE-ON-ONE</h2>
  <p class="font-medium text-lg text-center text-gray-950/80 w-200 mt-3">Reservá en el día y horario que mejor te quede disponible para que pueda hablar con vos y conocer tus necesidades</p>
  <img src="/icons/down-arrow.svg" alt="" class="w-10 h-10 mt-5 animate-bounce" />
  
  
  <!-- Calendly inline widget begin -->
  <div
    class="calendly-inline-widget"
    data-url="https://calendly.com/pfistercontacto/30min"
    style="height: 100%; width: 100%; margin-top:0px; gap:0px; display:flex;"
  >
  </div>
  <script
    type="text/javascript"
    src="https://assets.calendly.com/assets/external/widget.js"
    async
  ></script>
  <!-- Calendly inline widget end -->
</div>