---
import Faqs from "./atoms/Faqs.astro";
import ShadowButton from "./micro/ShadowButtom.astro";
---
<div class="py-10 flex flex-col items-center gap-10">
    <Faqs/>
    <ShadowButton>¡Arranca YA!</ShadowButton>
</div>