---
import UpperHero from "./atoms/UpperHero.astro";
import ShadowButtom from "./micro/ShadowButtom.astro";
---

<!-- Hotjar Tracking Code for Site 6478586 (name missing) -->
<div
  class="bg-blue-600/70 rounded-full blur-[200px] w-80 h-80 absolute -z-1 -top-20 -left-40"
>
</div>

<div
  class="flex flex-col gap-4 m-auto items-center justify-center h-screen w-[60%] text-center"
>
  <UpperHero />
  <h1 class="font-extrabold text-4xl uppercase">
    Como conseguir tus próximos <span class="bg-blue-600 py-[-10px] text-white">3 clientes en menos de 30 días</span>, aunque tengas<span class="text-blue-600"> menos de 1000 seguidores </span>
  </h1>

  <p class="font-medium text-lg w-[95%]">
    Te muestro la forma sencilla que usan miles de asesores para llenar su agenda sin depender del algoritmo de Instagram, hoy son ellos los que eligen a quien quieren ayudar y no al que pueden.
  </p>

  <!-- Cuadro para insertar video -->
  <div class="flex flex-col justify-center items-center gap-2 w-[95%] mt-5 bg-gray-100">
    <iframe
      class="w-[1035px] h-[500px] rounded-lg bg-gra"
      src=""
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
