---
const logos = [
  "/icons/pa-logo-wb.svg",
  "/icons/pa-logo-wb.svg",
  "/icons/pa-logo-wb.svg",
  "/icons/pa-logo-wb.svg",
  "/icons/pa-logo-wb.svg",
  "/icons/pa-logo-wb.svg"
];
---
<br>
<br>
<br>
<div class="w-screen h-15 bg-blue-700/90 flex items-center overflow-hidden relative">
  <div class="flex animate-marquee space-x-16">
    {logos.map((logo, index) => (
      <img src={logo} alt="logo" class="h-8 w-auto" loading="lazy" />
    ))}
    {logos.map((logo, index) => (
      <img src={logo} alt="logo" class="h-8 w-auto" loading="lazy" />
    ))}
  </div>
</div>
<br>
<br>
<br>
<br>


<style>
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 13s linear infinite;
  }
</style>
