<div class="inline-flex items-start mt-5">
  <section class="flex flex-row items-center">
    <div class="relative flex -space-x-2 sm:-space-x-4">
      <div class="bg-blue-600 h-4 w-4 sm:h-6 sm:w-6 rounded-full"></div>
      <div class="bg-blue-600 h-4 w-4 sm:h-6 sm:w-6 rounded-full"></div>
    </div>
    <span class="mx-1 sm:mx-2 text-sm sm:text-base font-medium leading-tight"
      >Sólo para quienes venden servicios de alto valor online</span
    >

    <div class="relative flex -space-x-2 sm:-space-x-4">
      <div class="bg-blue-600 h-4 w-4 sm:h-6 sm:w-6 rounded-full"></div>
      <div class="bg-blue-600 h-4 w-4 sm:h-6 sm:w-6 rounded-full"></div>
    </div>
  </section>
</div>
