<div class="inline-flex items-start">
  <section class="flex flex-row items-center">
    <div class="relative flex -space-x-2 sm:-space-x-4">
      <div class="bg-blue-600 h-4 w-4 sm:h-6 sm:w-6 rounded-full"></div>
      <div class="bg-blue-600 h-4 w-4 sm:h-6 sm:w-6 rounded-full"></div>
    </div>
    <span class="mx-1 sm:mx-2 text-xs sm:text-sm font-medium leading-tight"
      >Sólo para asesores/coaches con menos de 1.000 seguidores en instagram</span
    >

    <div class="relative flex -space-x-2 sm:-space-x-4">
      <div class="bg-blue-600 h-4 w-4 sm:h-6 sm:w-6 rounded-full"></div>
      <div class="bg-blue-600 h-4 w-4 sm:h-6 sm:w-6 rounded-full"></div>
    </div>
  </section>
</div>
