<div class="inline-flex items-start">
  <section class="flex flex-row items-center">
    <div class="relative flex -space-x-4">
      <div class="bg-blue-600 h-6 w-6 rounded-full"></div>
      <div class="bg-blue-600 h-6 w-6 rounded-full"></div>
    </div>
    <span class="mx-2 text-sm font-medium"
      >Sólo para asesores/coaches con menos de 1.000 seguidores en instagram</span
    >

    <div class="relative flex -space-x-4">
      <div class="bg-blue-600 h-6 w-6 rounded-full"></div>
      <div class="bg-blue-600 h-6 w-6 rounded-full"></div>
    </div>
  </section>
</div>
